.content{
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/abstract-spheres-background_23-2149158752.jpg?t=st=1732566557~exp=1732570157~hmac=d9a046491374aebdf66f3c908b00e188c0975dee23ce26a434a939a2493dbf9a&w=1380");
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.container{
background-color: black;
}