@use "../../styles/partials/variables.scss" as *;


.task-management{
    &__list{
        margin-top: 1.25rem;
    }

    &__card{
        background-color: rgba(178, 184, 241, 0.418);
    }

    &__title{
        font-size: 1.5rem;
    }
}
.list-group-item-success {
    background-color: $primary-color-2 !important; 
    color: $primary-color-3 !important; 
  }