$primary-color-1: #051923; //Richblack
$primary-color-2: #006989; // Cerulean
$primary-color-3: #ffffff; // White:  Global white color

$secondary-color-1: #5c667e; //Slate
$secondary-color-2: #f0f1f5; //Cloud

$background-color-1: #003554; //Prussian-blue:  Top navigation header background,CTA button hover state background
$background-color-2: #f7f8f9; //Light-Grey:  Page background,table column header background, CTA background