$primary-color-1: #11063d; 
$primary-color-2: #006989; 
$primary-color-3: #ffffff; 

$secondary-color-1: #5c667e; 
$secondary-color-2: #e0e1e6; 

$background-color-1: #a8e0f7; 
$background-color-2: #f7f8f9; 