$primary-color-1: #11063d; //Richblack
$primary-color-2: #006989; // Cerulean
$primary-color-3: #ffffff; // White:  Global white color

$secondary-color-1: #5c667e; //Slate
$secondary-color-2: #e0e1e6; //Cloud

$background-color-1: #a8e0f7; //Prussian-blue:  Top navigation header background,CTA button hover state background
$background-color-2: #f7f8f9; //Light-Grey:  Page background,table column header background, CTA background