@use "../../styles/partials/variables.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
    background-color: $secondary-color-2;
    height: 6vh;
    padding: 10px;
  
    &__logo {
      margin-left: 2.25rem;
      display: flex;
      align-items: center; 
    }
  
    &__buttons {
      margin-right: 2.25rem;
      display: flex; 
      justify-content: flex-end;
      gap: 20px;
    }
  
    &__img {
      width: 1.875rem;
      height: 1.875rem;
    }
  
    &__name {
      color: $primary-color-1;
      font-size: 1.2rem;
    }

    &__login{
      width: 7.5rem;
    }

    &__signup{
      width: 7.5rem;
    }
  }
  