@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.account {
  margin-left: 15.625rem;
  width: calc(100% - 15.625rem);
  min-height: 100vh;
  background-image: url("../../assets/images/dshbrd-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 1.25rem;

  &__header {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    @include title;
    font-weight: 600;
    color: $secondary-color-2;
  }

  &__card.card {
    background-color: rgba(255, 255, 255, 0.691);
    border-radius: 1.25rem;
    box-shadow: 0px 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-0.3125rem);
      box-shadow: 0 0.3125rem 0.625rem 0.125rem rgba(199, 211, 242, 0.991);
    }
  }

  &__name.card-title {
    text-align: center;
    padding-top: 0.625rem;
  }

  &__content {
    margin-top: 0.9375rem;
    margin-left: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__button {
    display: flex;
    align-self: center;
    margin: 1.25rem;
  }

  &__timeline {
    margin-top: 2.5rem;
  }
}
