// Variables for colors
@use "../../styles/partials/variables.scss" as *;


.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, $primary-color-1, $primary-color-2, $background-color-1, $primary-color-1);
    background-size: 300% 300%;
    animation: bgAnimation 5s infinite alternate;
    z-index: -1;
  }

  &__card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px; 
    max-width: 400px;
    font-family: "Raleway";

    h2 {
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%; 

      input {
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
      }

      button {
        padding: 0.8rem;
        background: $primary-color-1;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($primary-color-1, 10%);
        }
      }
    }
  }

  &__logo{

    width: 60px;
  }
}

// Keyframe for background animation
@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
