@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .625rem;
    margin-top: 2.5rem;
    background-color: $secondary-color-2;

    &__img{
      align-self: center;
      height: 2.5rem;
      width: 2.5rem;
    }
  
    &__detail{
      align-self: center;
      margin: 0;
      @include footer;
    }
  }